@font-face {
	font-family: gilroy;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/gilroy-regular.ttf') format('truetype');
}

@font-face {
	font-family: gilroy;
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/gilroy-medium.ttf') format('truetype');
}

@font-face {
	font-family: gilroy;
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/gilroy-semibold.ttf') format('truetype');
}

@font-face {
	font-family: gilroy;
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/gilroy-bold.ttf') format('truetype');
}

/* These styles make the body full-height */
html,
body {
	height: 100%;
}
/* These styles disable body scrolling if you are using <ScrollView> */
body {
	overflow: hidden;
}
/* These styles make the root element full-height */
#root {
	display: flex;
	height: 100%;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: inherit;
}

.prose {
	color: #1d2445;
}
.prose p {
	font-family: 'gilroy';
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	text-align: left;
}
.prose a {
	color: #1d2445;
	text-decoration: underline;
}

.float {
	--reverse: 1;
	--duration: 6s;
	--distance: 60px;
	--start-distance: calc(var(--distance) / 2 * var(--reverse));
	--end-distance: calc(var(--start-distance) * -1);
	animation: float var(--duration) ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translateY(var(--start-distance));
	}
	50% {
		transform: translateY(var(--end-distance));
	}
	100% {
		transform: translateY(var(--start-distance));
	}
}

/* aria-disabled="true" */
[aria-disabled='true'] {
	pointer-events: none;
	opacity: 0.8;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	font-family: var(--f-fa);
	font-size: var(--f-si-3);
	font-weight: var(--f-w-3);
	line-height: var(--f-lh-3);
	font-weight: var(--f-we-3);
	letter-spacing: var(--f-21-3);

	width: var(--size-37);
	padding: var(--space-3);
	min-height: var(--size-12);
	border-radius: var(--radius-8);
	border-width: 1px;
	border-style: solid;
	color: var(--color);
	border-color: var(--background);
	background-color: var(--background);
	box-shadow: 0px 0px 8px var(--color-3);
}

select:hover {
	border-color: var(--color-15) !important;
}

select:focus {
	border-color: var(--color-15) !important;
	outline-color: var(--color-15) !important;
	outline-style: solid;
	outline-width: 2px;
}

select[aria-disabled='true'] {
	color: var(--placeholderColor);
}

select::placeholder {
	color: var(--placeholderColor);
}

option:disabled {
	color: var(--placeholderColor);
}

/* fix lottie animation  */
.animation[role='figure'] {
	width: 100%;
	height: 100%;
}
