@font-face {
	font-family: gilroy;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/gilroy-regular.ttf') format('truetype');
}

@font-face {
	font-family: gilroy;
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/gilroy-medium.ttf') format('truetype');
}

@font-face {
	font-family: gilroy;
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/gilroy-semibold.ttf') format('truetype');
}

@font-face {
	font-family: gilroy;
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/gilroy-bold.ttf') format('truetype');
}

/* These styles make the body full-height */
html,
body {
	height: 100%;
}
/* These styles disable body scrolling if you are using <ScrollView> */
body {
	overflow: hidden;
}
/* These styles make the root element full-height */
#root {
	display: flex;
	height: 100%;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: inherit;
}

.float {
	--reverse: 1;
	--duration: 6s;
	--distance: 60px;
	--start-distance: calc(var(--distance) / 2 * var(--reverse));
	--end-distance: calc(var(--start-distance) * -1);
	animation: float var(--duration) ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translateY(var(--start-distance));
	}
	50% {
		transform: translateY(var(--end-distance));
	}
	100% {
		transform: translateY(var(--start-distance));
	}
}
